.main-gallery {
  h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    color: $blue-main-color;
    padding-bottom: 18px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-background-color;
}

.gallery {
  width: 100%;
  max-width: 1280px;
  padding: 40px 20px;
}

.image-wrapper {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, auto));
  img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    border-radius: 0.75rem;
    margin-bottom: 2vw;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 40px 20px;
  }
  .main-gallery {
    background-color: $main-background-color;
  }
  .image-wrapper {
    max-width: 1240px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, auto));
    img {
      width: 100%;
      height: 30vw;
      object-fit: cover;
      border-radius: 0.75rem;
      margin-bottom: 2vw;
    }
  }
}
