.home_rat {
  width: 500px;
  display: none;
}

.home_rat_mobile {
  width: 300px;
  padding-top: 5%;
}

.homeSection {
  background-color: $main-background-color;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1280px;
  display: block;
  height: calc(100vh - 72.56px);
}

.home_img {
  display: flex;
  justify-content: center;
}

.home_social {
  display: flex;
  justify-content: center;
}

.home_social img {
  width: 25px;
  margin-right: 20px;
  margin-top: 10px;
}

.home_social-icon:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

.home_data {
  span {
    display: row;
    font-size: 10px;
    background-color: #e1e4cfcc;
    border-radius: 100px;
    padding: 6px;
    line-height: 2.8;
    margin-right: 10px;
    color: #888d6cd8;
  }
  h1 {
    font-size: 30px;
  }

  h6 {
    margin: 0;
    font-size: 10px;
    color: $blue-main-color;
  }

  padding-top: 20px;
  text-align: center;
  display: display;
  justify-content: center;
}

.home_data a {
  text-decoration-line: none;
  text-decoration: none;
}

.home_data a:hover {
  text-decoration-line: none;
  color: $main-background-color;
}

.home_title {
  display: none;
}

.home_title_mobile {
  font-family: $title-font;
  display: block;
  font-size: 23px;
  text-align: center;
  color: $blue-main-color;
  line-height: 1;
  margin-bottom: 20px;
}

.home_title_2 {
  font-family: $title-font;
  color: $orange-main-color;
  margin-bottom: 0;
  width: 100%;
}

.home_subtitle {
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
  color: $blue-main-color;
}

.main_btn {
  display: inline-block;
}

.button {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 55px;

  text-align: center;
  background-color: $orange-main-color;
  color: $main-background-color;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
}

.button a,
.button-done a {
  color: $main-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-done {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 55px;

  background-color: $brown-main-color;
  color: $main-background-color;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 13px;
}
// .button_outline {
//   width: 110px;
//   height: 44px;
//   display: flex;
//   justify-content: center;
//   border: 2.5px solid $orange-main-color;
//   border-radius: 50px;
//   font-size: 14px;
// }

// .button_outline a {
//   color: $orange-main-color !important;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .button_outline:hover {
//   background-color: #fff1dd;
//   transition: 0.3s;
// }

.botton_flex {
  display: inline-flex;
}

.home_subtitle,
.home_social {
  display: none;
}

.dona-wrapper {
  display: flex;
  justify-content: center;
}

// media query

@media (min-width: 1040px) {
  .homeSection {
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    height: auto;
  }

  .home_img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .home_rat_mobile {
    display: none;
  }

  .home_rat {
    display: block;
    width: 570px;
    padding-top: 18%;
    overflow: hidden;
  }

  .home_social img {
    width: 30px;
    margin-right: 20px;
    margin-top: 30px;
  }

  .home_social {
    display: flex;
    justify-content: left;
  }

  .home_data {
    padding-top: 70px;
    text-align: left;
    display: block;
    grid-column: 1/3;

    span {
      font-size: 13px;
      background-color: #e1e4cfcc;
      border-radius: 100px;
      padding: 8px;
      line-height: 2.8;
      margin-right: 10px;
      color: #888d6cd8;
    }
    h1 {
      font-size: 60px;
    }
    h6 {
      font-size: 15px;
      color: $blue-main-color;
    }
  }
  .hone_title_2 {
    h1 {
      font-size: 55px !important;
    }
  }
  .home_title {
    display: block;
    line-height: 1;
    font-size: 50px;
    font-family: $title-font;
    color: $blue-main-color;
  }

  .home_title_2 {
    font-size: 50px;
  }

  .main_btn {
    height: 100px;
    display: inline-flex;
    margin-top: 40px;
  }

  .main_btn a {
    text-decoration: none;
  }

  .button {
    transition: 250ms ease-in-out;
    padding: 12px 42px;

    font-size: 18px;

    background-color: $orange-main-color;
    color: $main-background-color;
    border-radius: 50px;
    font-weight: 400;
  }

  // .button:hover {
  //   animation: motion 0.3s linear 0.2s infinite alternate;
  //   margin-top: 0;
  //   -webkit-animation: motion 0.3s linear 0.2s infinite alternate;
  //   margin-top: 0;
  //   margin-top: 0;
  //   // background-color: #af9649;
  //   transition: 0.6s;
  // }

  .button:hover {
    transform: translateY(-5px);
    background-color: $orange-main-color-hover;
  }

  .button_outline {
    padding: 12px 39px;
    border: 2.5px solid $orange-main-color;
    font-size: 16px;
    background-color: $main-background-color;
    color: $orange-main-color;
    border-radius: 50px;
    font-weight: 400;
    transition: 250ms ease-in-out;
  }

  .button-done {
    transition: 250ms ease-in-out;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-left: 10px;
  }

  .button-done:hover {
    transform: translateY(-5px);
    background-color: $brown-main-color-hover;
  }

  .botton_flex {
    display: inline-flex;
  }

  .home_title_mobile {
    display: none;
  }

  .home_subtitle {
    text-align: left;
    font-size: 18px;
  }

  .dona-wrapper {
    display: block;
  }
  .donation_link {
    p {
      font-size: 15px;
      line-height: 1.1;
    }
    margin-top: 40px;
    position: absolute;
    text-align: center;
    line-height: 1;
    color: $main-background-color;
    font-size: 18px;
    width: 100px;
    height: 100px;
    background-color: $brown-main-color;

    border-radius: 100px;
  }
  // .donation_link p {
  //   position: relative;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }

  .social-wrapper {
    margin-top: 50px;
  }

  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 300px;
    height: 100px;
    background-color: #af964a;
    line-height: 1.1;
    color: #fff;
    text-align: left;
    padding: 20px 40px;
    border-radius: 100px;
    transition: opacity 0.3s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .home_subtitle,
  .home_social {
    display: block;
  }

  .home_social img:hover {
    animation: motion 0.3s linear 0.2s infinite alternate;
    margin-top: 0;
    -webkit-animation: motion 0.3s linear 0.2s infinite alternate;
    margin-top: 0;
    margin-top: 0;
    // background-color: #af9649;
    transition: 250ms ease-in-out;
  }
}
