.main-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-background-color;
}

.about {
  padding: 60px 20px;
  .about-menu ul {
    display: flex;
  }

  h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    color: $blue-main-color;
    padding-bottom: 18px;
  }
  h5 {
    font-weight: bold;
    margin-top: 17px;
    font-size: 15px;
    color: $blue-main-color;
  }
  .tab-2 {
    h5 {
      margin-bottom: 10px;
    }
  }
  .tabText p {
    font-size: 12px;
    padding: 10px 0 40px 0;
    color: $blue-main-color;
    line-height: 1.2;
    width: 100%;
  }

  .tab-3 {
    margin-bottom: 30px;
    p {
      line-height: 1.4;
      padding: 0;
      color: $green-main-color !important;
    }
    background-color: $blue-main-color;
    padding: 10px 0;

    h5 {
      color: #edf2c2 !important;
      margin-bottom: 30px;
      font-size: 20px;
      color: $main-background-color;
    }
    h6 {
      font-weight: bold;
      padding: 10px 0;
      margin-top: 12px;
      color: $green-main-color;
    }
  }

  .tab3-padding {
    padding: 30px;
  }

  .tab-last {
    h5 {
      padding-bottom: 5px;
    }
    p {
      padding: 6px 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .container {
    width: 100%;
    padding: 0 !important;
  }
  .tab-container {
    display: flex;

    width: 100%;
  }
  .tab-container-item {
    border-radius: 50px;
    background: $green-main-color;
    a {
      font-size: 11.5px;
    }
    cursor: pointer;
    transition: 250ms ease-in-out;
  }
  .tab-container li:not(:last-of-type) {
    margin-right: 2%;
  }
  .tab-container-item:hover {
    background-color: $blue-main-color;
    transition: background-color 0.4s ease-in-out;
  }
  .tab-containeritem:hover .tab-container-item--title {
    color: #fff;
    transition: color 0.4s ease-in-out;
  }
  .tab-container-item.active {
    border-radius: 50px;
    background: $blue-main-color;
  }

  .tab-container-item.active:hover {
    background-color: $blue-main-color;
    transition: background-color 0.4s ease-in-out;
  }
  .tab-container-item.ative:hover .tab-container-item--title {
    color: #fff;
    transition: color 0.4s ease-in-out;
  }
  .tab-container-item--title {
    display: inline-block;
    color: $main-background-color;
    font-weight: 700;
    text-decoration: none;
    margin: 10px;
  }
  .content-container {
    width: 100%;
    padding: 36px 0;
  }

  .content-container-content.target {
    display: block;
  }

  .tab-image img {
    width: 100%;
  }
  .gallery-button .button a:hover {
    color: $main-background-color !important;
  }
}

.rats-image {
  width: 30%;
}

@media (min-width: 800px) {
  .about-menu {
    display: inline-block;
  }

  .content-container {
    margin-top: 30px;
  }

  #conBox {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-grow: 1;
  }

  .tab-image {
    width: 700px;

    overflow: hidden;
  }
  .tab-image img {
    width: 800px;
    height: auto;
    transition: all 0.4s ease-in-out;
  }

  .tab-image img:hover {
    overflow: hidden;
    transform: scale(1.1);
  }

  .tabText {
    h5 {
      font-size: 25px;
    }
    p {
      font-size: 17px !important;
    }
    padding: 40px;
    width: 500px;
  }

  .tab-container-item a {
    font-size: 15px !important;
  }
}
