.about {
  .about-menu ul {
    display: flex;
    height: 500pxs;
  }
  h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: $blue-main-color;
    padding-bottom: 18px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  .container {
    width: 100%;
    padding-left: 0 !important;
  }
  .tab-container {
    display: flex;
  }
  .tab-container__item {
    cursor: pointer;
  }
  .tab-container__item:hover {
    background-color: #369fff;
    transition: background-color 0.4s ease-in-out;
  }
  .tab-container__item:hover .tab-container__item--title {
    color: #fff;
    transition: color 0.4s ease-in-out;
  }
  .tab-container__item.active {
    border-bottom: 2px solid #369fff;
  }
  .tab-container__item.active .tab-container__item--title {
    color: #369fff;
  }
  .tab-container__item.active:hover {
    background-color: #369fff;
    transition: background-color 0.4s ease-in-out;
  }
  .tab-container__item.active:hover .tab-container__item--title {
    color: #fff;
    transition: color 0.4s ease-in-out;
  }
  .tab-container__item--title {
    display: inline-block;
    color: #999;
    font-weight: 700;
    text-decoration: none;
    margin: 15px;
  }
  .content-container {
    width: 100%;
    padding: 10px;
  }
  .content-container__content {
    display: none;
  }
  .content-container__content.target {
    display: block;
  }
}
