.main-campaign {
  position: relative;
  background-color: $main-background-color;
}

video.fullscreen {
  object-fit: cover; // this is the key
  width: 100%;
  height: 100%;

  &::-webkit-media-controls {
    display: none !important;
  }
}
.video-wrapper {
  position: relative;
  display: grid;
  place-items: center;
  height: auto;
  width: 100%;
  margin: 0;
}

.campaign {
  max-width: 1280px;
  background-color: $main-background-color;
  .textCon {
    .span {
      margin-bottom: 8px;
      margin-top: 30px;
    }
  }

  span {
    font-size: 10px;
    background-color: #e1e4cfcc;
    border-radius: 100px;
    padding: 6px;
    line-height: 2.8;
    margin-right: 10px;
    color: #888d6cd8;
  }

  height: auto;

  h1 {
    font-family: $title-font;
    font-size: 28px;
    color: $blue-main-color;
    text-decoration: uppercase;
    margin-bottom: 16px;
  }
  h6 {
    font-family: $body-font;
    line-height: 0.8rem;
    font-size: 11px;
    color: $blue-main-color;
  }
  p {
    font-size: 12px;
    font-family: $body-font;
    line-height: 1rem;
    color: $blue-main-color;
    padding-bottom: 14px;
  }
  padding: 0 20px;
  margin: 0 auto;
}

.startBtn .button {
  width: 146px;
  height: 50px;
  margin-bottom: 44px;
}

.mapImage {
  width: 100%;
  max-width: 500px;
  height: 360px;
  background-color: gray;
  margin-bottom: 12px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageTwo {
  padding-top: 20px;
}

.btn-wide {
  display: flex;
  text-align: center;
  padding-bottom: 44px;
  margin-top: 20px;
}

.btn-wide .button-wide {
  font-size: 16px;
  width: 100%;
  font-weight: bolder;
  padding: 5px;
  border-bottom: 2px solid $orange-main-color;
  color: $orange-main-color;
}

.map-warraper {
  margin-top: 40px;
}
.message {
  width: 100%;
  height: 120px;
  position: relative;
  margin-bottom: 48px;
  margin-top: 40px;

  h5 {
    width: 100%;
    top: 40%;
    left: 28%;
    transform: translate(-28%, -20%);
    background-color: $green-main-color;
    padding: 22px 28px;
    position: absolute;

    color: #51745a;
    line-height: 1.2;
    font-size: 11px;
    text-align: center;
  }
}
.minirat {
  position: absolute;
}
.minirat img {
  position: absolute;
  z-index: 9;
  bottom: 10;
  width: 50px;
  left: 00;
  transform: translate(0%, -10%);
}

@media (min-width: 800px) {
  video.fullscreen {
    z-index: 9999;
    object-fit: cover; // this is the key
    width: 100%;
    height: auto;

    &::-webkit-media-controls {
      display: none !important;
    }
  }
  .video-wrapper {
    position: relative;
    display: grid;
    place-items: center;

    width: 100%;
    margin: 0;
    background: #ccc;
  }
  .campaign {
    padding-top: 50px;

    span {
      margin: 30px 0 10px 0;
      font-size: 14px !important;
      border-radius: 100px;
      padding: 8px;
      line-height: 2.8;
      margin-right: 10px;
      color: #888d6cd8;
    }

    h1 {
      margin-top: 3px;
      font-size: 80px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      letter-spacing: 0;
      width: 600px;
      line-height: 1.5;
    }

    .button {
      height: 55px;
    }

    .campaign-btn {
      margin-top: 30px;
      height: 55px;
    }

    .campaign-btn a:hover {
      color: $main-background-color;
    }

    .mapText {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        line-height: 1.5;
        text-decoration: underline;
        text-underline-position: under;
        font-size: 28px;
        width: 600px;
        padding: 0 50px;
        color: $blue-main-color;
        font-weight: bolder;
      }
    }
    .mapImage {
      max-width: 600px;
      height: 600px;
      background-color: gray;
      margin-bottom: 12px;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .imageOne,
    .imageTwo {
      display: flex;
      justify-content: space-around;
    }

    .map-warraper {
      margin-top: 150px;

      h4 {
        margin-top: 50px;
        font-size: 20px;
        width: 80%;
        color: $blue-main-color;
      }
    }

    .imageOne {
      justify-content: space-between;
      margin-top: 30px;
    }

    .btn-wide {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 120px;
      width: 100%;
      .button-wide {
        transition: 250ms ease-in-out;
        width: 400px;
        height: 60px;
        margin-bottom: 80px;
        font-size: 28px;
        padding: 10px;
      }
    }

    .button-wide:hover {
      letter-spacing: 3px;
      font-size: 32px;
    }
  }

  .minirat img {
    width: 95px;
  }

  .message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    height: 120px;
    position: relative;

    .message-wrapper {
      width: 200px;
      display: block;
    }
    h5 {
      text-align: left;

      background-color: $green-main-color;
      padding: 30px 80px;

      color: $main-background-color;
      line-height: 1.3;
      font-size: 20px;
    }
  }
}
