.footer {
  width: 100%;
  background-color: $blue-main-color;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 30px 32px;
  display: flex;
  justify-content: center;

  .footer-warraper {
    padding: 0;
  }
  h3 {
    font-size: 15px;
    color: $main-background-color;
    font-weight: bold;
    padding-bottom: 10px;
  }

  p {
    color: $main-background-color;
    font-weight: lighter;
    font-size: 13px;
    line-height: 1.2;
    padding-bottom: 40px;
  }
  .newsBtn {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    width: 100px;
    border: 1.8px solid $main-background-color;
    padding: 14px 20px;
    border-radius: 50px;
    color: $main-background-color;
    a {
      color: $main-background-color;
    }
  }
  .newsBtn:hover {
    background-color: $main-background-hover;
  }
  .copy {
    color: $main-background-hover;
    padding-top: 55px;
    padding-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .footer-width {
    padding: 32px;
    width: 1280px;
  }
}
