.home_rat {
  width: 600px;
  display: none;
}

.home_rat_mobile {
  width: 300px;
}

.homeSection {
  display: block;
}

.home_img {
  display: flex;
  justify-content: center;
}

.home_social {
  display: flex;
  justify-content: center;
}

.home_social img {
  width: 25px;
  margin-right: 20px;
  margin-top: 10px;
}

.home_social-icon:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

.home_data {
  h1 {
    font-size: 30px;
  }

  h6 {
    margin: 0;
    font-size: 10px;
    color: $blue-main-color;
  }

  text-align: center;
  display: block;
  justify-content: center;
}

.home_data a {
  text-decoration-line: none;
  text-decoration: none;
  color: $main-background-color;
}

.home_data a:hover {
  text-decoration-line: none;
  color: $main-background-color;
}

.home_title {
  display: none;
}

.home_title_mobile {
  font-family: $title-font;
  display: block;
  font-size: 23px;
  text-align: center;
  color: $blue-main-color;
  line-height: 1;
  margin-bottom: 20px;
}

.home_title_2 {
  font-family: $title-font;
  color: $orange-main-color;
  margin-bottom: 0;
}

.home_subtitle {
  text-align: center;
  margin-top: 35px;
  font-size: 12px;
  color: $blue-main-color;
}

.button {
  border: 2.5px solid $orange-main-color;
  width: 100px;
  text-align: center;
  background-color: $orange-main-color;
  color: $main-background-color;
  padding: 8px 25px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
}

.button_outline {
  width: 100px;
  border: 2.5px solid $orange-main-color;
  text-align: center;
  margin-left: 20px;
  color: $orange-main-color !important;
  padding: 8px 25px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
}

.button_outline:hover {
  background-color: #fff1dd;
  transition: 0.3s;
}

.donaBtn {
  text-align: center;
  color: $main-background-color;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-weight: 400;
  font-size: 14px;
  background-color: $brown-main-color;
}

.donaBtn:hover {
  background-color: #af9649;
  transition: 0.3s;
}
.button:hover {
  background-color: $orange-main-color-hover;
  transition: 0.3s;
}

.botton_flex {
  display: inline-flex;
}

.home_subtitle,
.home_social {
  display: none;
}

.dona-wrapper {
  display: flex;
  justify-content: center;
}

.donation_link {
  span {
    display: table-cell;
    vertical-align: middle;
  }

  p {
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
  }

  display: table;
  margin: 0 auto;
  margin-top: 30px;
  position: absolute;
  text-align: center;
  line-height: 1;
  color: $main-background-color;
  font-size: 18px;
  width: 85px;
  height: 85px;
  background-color: $brown-main-color;
  border-radius: 100px;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  70% {
    top: 500px;
  }
  100% {
    top: 300px;
  }
}

.camera_text_mobile {
  font-size: 14px;
  text-align: center;
  color: $blue-main-color;
}

@media (min-width: 800px) {
  .homeSection {
    position: relative;
  }

  .home_img {
    position: absolute;
    top: 0;
    right: 0;
  }

  .home_rat_mobile {
    display: none;
  }

  .home_rat {
    display: block;
    width: 600px;
  }

  .home_social img {
    width: 30px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .home_social {
    display: flex;
    justify-content: left;
  }

  .home_data {
    h1 {
      font-size: 50px;
    }
    h6 {
      font-size: 15px;
      color: $blue-main-color;
    }
  }

  .home_title {
    display: block;
    line-height: 1;
    font-size: 50px;
    font-family: $title-font;
    color: $blue-main-color;
  }

  .home_title_2 {
    font-size: 50px;
  }

  .main_btn {
    margin-top: 40px;
  }

  .main_btn a {
    text-decoration: none;
  }

  .button {
    padding: 12px 39px;
    border: 2.5px solid $orange-main-color;
    font-size: 16px;

    background-color: $orange-main-color;
    color: $main-background-color;
    border-radius: 50px;
    font-weight: 400;
  }

  .button_outline {
    padding: 12px 39px;
    border: 2.5px solid $orange-main-color;
    font-size: 16px;

    background-color: $main-background-color;
    color: $orange-main-color;
    border-radius: 50px;
    font-weight: 400;
  }

  .donaBtn {
    border-radius: 100%;
    width: 100px;
    height: 100px;

    background-color: $brown-main-color;
  }

  .donaBtn:hover {
    background-color: #af9649;
    transition: 0.3s;
  }

  .botton_flex {
    display: inline-flex;
  }

  .home_data {
    padding-top: 70px;
    text-align: left;
    display: block;
    grid-column: 1/3;
  }

  .home_title_mobile {
    display: none;
  }

  .home_subtitle {
    padding-top: 30px;
    text-align: left;
    font-size: 18px;
  }

  .dona-wrapper {
    display: block;
  }
  .donation_link {
    p {
      font-size: 15px;
      line-height: 1.1;
    }
    margin-top: 40px;
    position: absolute;
    text-align: center;
    line-height: 1;
    color: $main-background-color;
    font-size: 18px;
    width: 100px;
    height: 100px;
    background-color: $brown-main-color;

    border-radius: 100px;
  }
  // .donation_link p {
  //   position: relative;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }

  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 300px;
    height: 100px;
    background-color: #af964a;
    line-height: 1.1;
    color: #fff;
    text-align: left;
    padding: 20px 40px;
    border-radius: 100px;
    transition: opacity 0.3s ease-in-out;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
  }

  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .home_subtitle,
  .home_social {
    display: block;
  }
}
