// primary setting css

$main-background-color: #f8f9f0;
$main-background-hover: #faffd65d;
$blue-main-color: #1a4e77;
$blue-main-color-hover: #1a4f77af;
$orange-main-color: #f08900;
$orange-main-color-hover: #f08000;
$green-main-color: #b8d9c0;
$brown-main-color: #bfa65a;

$title-font: "Luckiest Guy", cursive;
$body-font: "roboto, sans-serif";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.hidden {
  display: none;
}

.router {
  height: calc(100vh - 74px);
  margin-top: 74px;
}

.main {
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}

#container {
  background-color: $main-background-color;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

#app {
  background-color: $main-background-color;
  margin: 0 auto;
  font-family: $body-font;
}

@media (min-width: 768px) {
  .hidden {
    display: block;
  }
  #app {
    background-color: $main-background-color;
  }
}
