// primary setting css

$main-background-color: #f8f9f0;
$main-background-hover: #faffd65d;
$blue-main-color: #1a4e77;
$orange-main-color: #f08900;
$orange-main-color-hover: #f08000;
$green-main-color: #b8d9c0;
$brown-main-color: #bfa65a;

$title-font: "Luckiest Guy", cursive;
$body-font: "roboto, sans-serif";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

.router {
  height: 100vh;
  padding-top: 100px;
  overflow: scroll;
}

.main {
  padding: 0 32px;
}
::-webkit-scrollbar {
  display: none;
}

#container {
  background-color: $main-background-color;
}

#app {
  background-color: $main-background-color;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-family: $body-font;
}

@media (min-width: 768px) {
  #app {
    overflow: scroll;
    height: 100vh;
    background-color: $main-background-color;
  }
}
